//-
	@file Defines a headings mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies

//- Definition
mixin h1(headerText)

	h1!= headerText


mixin h2(headerText)

	h2!= headerText


mixin h3(headerText)

	h3!= headerText


mixin h4(headerText)

	h4!= headerText

mixin h5(headerText)

	h5!= headerText
