//-
	@file Defines the default page template
	@author <%= name %> <%= email %>

//- Template dependencies

//- Default vars
- var page = {id: "<%= id %>", title: "Default Boilerplate Page"};


//- Import variables from calling page
block page_vars

//- Build body class
- var bodyClass = "page-"+page.id

!!! 5
//if lt IE 7
	<html class="lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="lt-ie9 lt-ie8">
//if IE 8
	<html class="lt-ie9">
//if IE 9
	<html class="lt-ie10">
// [if gt IE 9] <!
	head
		title #{page.title}
		meta(charset="utf-8")
		meta(name="description", content=page.description)
		meta(name="keywords", content=page.keywords)
		meta(name="viewport", content="width=device-width")
		meta(name="format-detection", content="telephone=no")
		if (env == "dev")
			link(rel="stylesheet", href="/css/main.css")
		else
			link(rel="stylesheet", href="/css/main.css")

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300', rel='stylesheet', type='text/css')

		// if lt IE 9
			script(src="/js/ie/eventlistener.js")
			script(src="/js/ie/selectivizr-min.js")
			script(src="/js/ie/respond.min.js")

	body(class=bodyClass, data-page=page.id)
		block content


		if (env == "dev")
			script(data-main="/js/main", src="/js/vendor/require.js")
		else
			script(src="/js/"+pkg.name+".min.js")
